body 
{
    background-color: dimgray;
}

#headerText
{
    text-align: center;
    font-family: 'Jua', sans-serif;
    color: skyblue;
}

#playerRow
{
    height: 200px;
}

#Chewie
{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    position:relative;
}

#BB8
{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
}

#Ewok
{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
}

#Porg
{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
}

#arenadivider
{
    height: 50px;
}

#arena
{
    float: left;
}

.playerChar
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#attack
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#instructions
{
    font-family: 'Poor Story', cursive;
    text-align: center;
    bottom: 0px;
    font-size: 40px;
    color:white;
}

.text
{
    left: 0;
    position:absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}